body {
  font-family: "Quicksand", sans-serif;
}

.banner-container {
  background: url("./assets/bannerbackground.png");
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-left-card {
  height: 100vh;
  background-color: rgb(2, 10, 59);
  color: white;
}

.card-left-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manageProductBtn {
  background: transparent;
  color: white;
}
.addProductBtn {
  background: transparent;
  color: white;
}

.btn-card-body {
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
}
.btn-card {
  border: none;
}
.type-food-btn {
  background: transparent;
  color: black;
  margin-left: 20px;
  font-weight: bold;
}

.type-food-btn:hover {
  color: white;
}
.product-photo {
  width: 180px;
}
.product-card {
  padding: 22px;
  text-align: center;
}

.menuItem-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus-minus-btn {
  margin: 10px;
}

.login-col {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.photo-img {
  width: 120px;
  border: none;
}

.purchase-card {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}

.grand-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.manage-product {
  display: flex;
  justify-content: space-between;
}

.footer {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
}

.social-icon {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.input-element {
  display: inline-block;
  margin-right: 10px;
}
